/*  body font: 
    Literata {
   font-family: "Literata", serif;
 
}


  headings font: 
.freeman-regular {
  font-family: "Freeman", sans-serif;
}
*/

:root {
  --primary-color: #f6f5f2;
  --secondary-color: #ffefef;
  --text-color: #808080;
  
}

body {
  background-color: #f6f2f5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Freeman, sans-serif;
}




h2 {
  color: pink;
}

.main-container,
.second-container ,
.third-container{
  max-width: 100%;
  overflow-x: hidden;
}

.to-do-app-paragraph, .weather-app-paragraph {
  color: gray;
}


.third-home-subheading, .second-home-subheading {
  font-weight: bold;
  font-size: 50px;
  color: #f3d0d7;
}


.name-title {
  margin-left: -30px;
  font-weight: bold;
  font-size: 70px;
  display: inline;
  color: #f3d0d7;
}

.introduction-header {
  font-family: "Literata", serif;
  margin-top: 170px;
  margin-left: 30px;
  margin-bottom: 0px;
  color: var(--text-color);
}

.intro-paragraph {
  font-family: "Literata", serif;
  color: var(--text-color);
}

.personal-photo {
  margin-left: 80px;
  margin-top: -100px;
}

.nav-logo {
  width: 40px;
  margin-top: 2px;
  border-radius: 50%;
}

.nav-color {
  background-color: rgba(243, 208, 215, 0.5);
  color: rgb(24, 19, 19);
}

.name-title {
  text-shadow: 2px 2px #da9aa7;
}

.btns {
  margin-left: 30px;
}

.intro-button {
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 2px 2px #da9aa7;
  color: gray;
  width: 135px;
  margin: 5px;
}

.intro-button:hover {
  background-color: #da9aa7;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px #efdade;
}

.first-weather-project {
  margin-top: 20px;
}

.second-home-subheading {
  margin-left: 200px;
}


.weather-app-paragraph {
  margin-left: 150px;
  color: gray; 
}



.weather-app-img {
  margin-left: -10px;
}

.third-home-subheading {
  text-align: center;
}

.third-column {
  margin-left: -50px;
}

.to-do-image {
  margin-left: 40px;
}


.third-container {
  margin-top: 20px;
}














@media (max-width: 600px) {
  .introduction-header {
    font-size: 20px;

    margin-top: 65px;
    margin-left: 80px;
  }

  

  .introductory-heading {
    font-size: 35px;
    margin-left: -80px;
  }

  .intro-surname, .name-title {
    margin-left: 80px;
  }

  .intro-paragraph {
    margin-left: 110px;
    margin-top: -5px;
  }

  .intro-button,
  p {
    width: 150px;
    margin: 14px;
    display: block;
    margin-left: 100px;
    margin-top: -6px;
    font-size: 16px;
  }

  .intro-button:hover {
    background-color: #da9aa7;
    box-shadow: 2px 2px #efdade;
    color: #ffffff;
    width: 150px;
    display: block;
    margin: 14px;
  }


.second-home-description {
  font-size: 30px;
}



.weather-app-paragraph {
  margin-left: 30px;
}

.second-home-subheading {
  margin-left: 30px;
  margin-top: -50px;
}

.second-home-description {
  font-size: 24px;
  margin-bottom: -30px;
}

.second-home-subheading  {
  font-size: 25px;
}

.weather-app-paragraph {
  font-size: 12px;
}

.weather-app-img {
  width: 200px;
  margin-top: -270px !important;
  margin-left: 180px;
}

.to-do-app-paragraph {
  font-size: 12px;
}

.third-home-subheading {
  font-size: 28px;
}

.to-do-image {
  width: 200px;
  margin-left: 10px;
  padding-top: 80px;
}


.third-column {
  margin-left: 100px;
  margin-top: -230px;
}







}
















@media (min-width: 768px) and (max-width: 915px) {

  .introduction-header {
    margin-top: 250px;
  }



  .personal-heading {
    margin-top: -70px;
  }

  .personal-photo {
    margin-top: -80px;
    margin-left: 10px;
  }

  .name-title {
    margin-left: 20px;
    font-size: 50px;
  }

  .intro-paragraph {
    margin-left: 20px;
  }


  .second-home-subheading {
    margin-left: 150px;
    font-size: 28px;
  }


.weather-app-img {
  padding-top: 100px;
}

.third-home-subheading {
  
  font-size: 28px;
}


.third-column {
  margin-left: -20px;
  margin-top: -35px;
}







}










@media (min-width: 853px) and (max-width: 1024px) {

  .second-home-description {
    margin-bottom: -30px;
  }

  .second-home-subheading {
    margin-left: 150px;
  }




  .weather-app-img {
  padding-top: 50px;
}




}
