/*  body font: 
    Literata {
   font-family: "Literata", serif;
 
}


  headings font: 
.freeman-regular {
  font-family: "Freeman", sans-serif;
}
*/


:root {
    --primary-color: #F6F5F2;
    --secondary-color: #FFEFEF; 
    --text-color: #808080;
}


body {
    background-color: var(--primary-color);
}

.name-title {
    font-family: Freeman, sans-serif;
    margin-left: -30px;
    font-weight:bold;
    font-size: 70px;
    display: inline;
    color: #F3D0D7;
}

.introduction-header { 
    font-family: "Literata", serif;
    margin-top: 170px;
    margin-left: 30px;
    margin-bottom: 0px;
    color: var(--text-color);
}

.intro-paragraph {
    font-family: "Literata", serif;
    color: var(--text-color);
}

.img-fluid {
    margin-left: 80px;
   margin-top: -100px;
   
}

.nav-logo {
    width: 40px;
    margin-top: 2px;
    border-radius: 50%;
}







.nav-color {
 background-color: rgba(243, 208, 215, 0.5);
 color: rgb(24, 19, 19);
}

.name-title {
    text-shadow: 2px 2px #da9aa7;
}

.btns {
    margin-left: 30px;
}



.intro-button {
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 2px 2px #da9aa7;
    color: gray;
    width: 135px;
    margin: 5px;
}

.intro-button:hover {
    background-color: #da9aa7;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px #efdade;

}
















@media (max-width: 600px) {

    .introduction-header { 
        font-size: 20px;
        
        margin-top: 65px;
        margin-left: -40px;
    }




  .img-fluid {
    display: none;
  }

  .introductory-heading {
    font-size: 35px;
    margin-left: -80px;
    
  }

  .intro-surname {
    margin-left: -30px;
  }

  .intro-paragraph {
    margin-left: -3px;
    margin-top: -5px;
  }

  

  

  .intro-button, p {
    width: 150px;
    margin: 14px;
    display: block;
    margin-left: -8px;
    font-size: 13px;
  }

  .intro-button:hover {
    background-color: #da9aa7;
    box-shadow: 2px 2px #efdade;
    color: #ffffff;
    width: 150px;
    display: block;
    margin: 14px;
   
}


}











@media (min-width: 768px) and (max-width: 912px) {

  .personal-heading {
    margin-top: -70px;
  }
  

.personal-photo {
  margin-top: -80px; 
  margin-left: 10px;
}


.name-title {
  margin-left: 20px;
  font-size: 50px;
}

.intro-paragraph {
  margin-left: 20px;
}









}


